{% extends 'base.html' %}

{% block title %}Basket{% endblock title %}

{% block content %}
    {% if cart_items %}
    {% for cart_item in cart_items %}
    <ul>
        <li>{{ cart_item.product.name }}  : <a href="{% url 'shop:cart-action' cart_item.product.pk 'subtract' %}">-</a>
         {{ cart_item.quantity }} <a href="{% url 'shop:cart-action' cart_item.product.pk 'add' %}">+</a></li>
        <a href="{% url 'shop:cart-action' cart_item.product.pk 'delete' %}">Remove from cart</a>
    </ul>
         
        {% endfor %}
    {% else %}
    <p>Ваша корзина пуста</p>
    {% endif %}

{% endblock content %}