{% load i18n %}
<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    {% comment %} <input type="text" type="hidden" value="{{ redirect_to }}"> {% endcomment %}
        <select name="language" id="language-botton">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
              selected{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
              </option>
          {% endfor %}
        </select>
      <input type="submit" value="Go">
  </form>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'shop:home' %}">Django-Pet-Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-r">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
      <form class="d-flex" method="get" action="{% url 'shop:search-result' %}">
        {% csrf_token %}
        <input name="q" type="text">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% if user.is_authenticated %}
      
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          {{ user.username }}
        </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
        <li><a class="dropdown-item" href="{% url 'shop:basket' %}">Basket</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
      </div>
    </div>
  </div>
      {% else %}
      <div>
        <a href="{% url 'login' %}"><button type="button" class="log-in">Log In</button></a>
      </div>
      <div class="sign-up">
        <a href="{% url 'users:signup' %}"><button type="button">Sign Up</button></a>
      </div>
      {% endif %}
  </div>
</nav>