{% extends 'base.html' %}

{% load static %}
{% block content %}

<script src="{% static 'js/notification.js' %}"></script>
<img src="{{ product.image.url }}" width="10%" height="10%">
<ul>
    <li>
        <h1>{{ product.name }}</h1>
        <h2>{{ product.description }}</h2>
        <h4>Price: {{ product.price }}</h4>
        <button id="add-to-cart-button" type="submit"><a href="{% url 'shop:cart-action' product.pk 'add' %}">Add to basket</a></button>
    </li>
</ul>
{% block user_form %}
{% include 'shop/comment_form.html' %}
{% endblock user_form %}
<!-- {% if user.is_authenticated %}
    <h2>Leave your feedback</h2>
    <form method="POST">
        {% csrf_token %}
        {{ review_form }}
        <button type="submit">Post Comment</button>
    </form> -->
<!-- 
{% endif %} -->
<h4>Users reviews</h4>
{% comment %} {% for comment in comments %}
<ul>
    <li>
    User: {{ comment.user.username }}<br>
    Rate: {{ comment.rate }} <br>
    Comment: {{ comment.comment }} 
    </li>
</ul>
<br>
{% endfor %} {% endcomment %}
{% include 'shop/comments.html' %}
{% endblock content %}
