
.card-box {
    display: inline-flex;
    list-style-type: none;
}

.carusel-section {
    display: flex;
    justify-content: center;
}

.d-flex {
    margin-left: 400px;
    margin-right: 20px;
}

.navbar-r {
    position: fixed;
    left: 1100px;
}

.dropdown {
    position: fixed;
    right: 30px;
}